.swiper-slide {
    width: 200px;       /* lebar kartu */
    height: 500px;      /* tinggi kartu lebih panjang */
    opacity: 0.5;
    transition: all 0.3s ease;
}

.swiper-slide-active {
    opacity: 1;
    transform: scale(1.05);
}

.card {
    height: 100%;       /* biar isi mengikuti tinggi slide */
    display: flex;
    flex-direction: column;
}

.card img {
    width: 300%;
    height: 450px;      /* perbesar tinggi gambar */
    object-fit: cover;
}

.card-body {
    flex-grow: 1;       /* isi teks mengisi ruang sisa */
    padding-top: 20px; /* geser teks turun */
}
